<%- include('../partial/header') %>

<section id="edit-password">
    
<div class="container">
    
    <div class="row justify-content-around">
        
        <div class="col-xs-5">
            
            <div class="card " id="pass-card">
                
                <div class="card-body">
                    
                    <h1 class="card-title">Enter New Password</h2>

                    <div class="form-group">
                
                        <form action="/profile/<%= id %>/edit"  method="POST">
                                
                            <input class="form-control my-3" type="password" placeholder="Password" name="password" required >
                                
                            <button  type="submit" class="btn btn-sm btn-success mt-2">Change Password</button>
                                

                        </form>

                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>

</section>


<%- include('../partial/footer') %>
