<%- include('../partial/header') %>
    <h1><%= title %></h1>
    <a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
    <a href="">dsfa</a>
    <%- include('../partial/card') %>

    <%- include('../partial/footer') %>




