<%- include('../partial/header') %>

<a href="#" onclick="signOut();">Sign out</a>
<script>
    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }
</script>


<a href="">dsfa</a>


<% for(let blog of blogs){  %>

    <div class="card mb-3" style="max-width: 540px; cursor: pointer; margin:5%;"
        onclick="location.href='http://localhost:3000/blogs/<%= blog._id %>';">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://i.insider.com/5e32f2a324306a19834af322?width=2400" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-text" style="text-align: right;"><a href="/users/a">~lkas</a></p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

        </div>
    </div>

<% } %>









<%- include('../partial/footer') %>