<%- include('../partial/header') %>

<div style="width: 80%; margin: auto; margin-top: 30px; background-color: white; border-radius: 4%; padding: 3%; max-width: 700px;" >

    <form action="/auth/login" method="post">

        <h1 style="text-align: center;" >Please sign in</h1>
        <br>
        <p style="text-align: center;">
        <label for="inputEmail">Email address&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="email" id="inputEmail" placeholder="Email address" name="email" required autofocus>

        <br>

        <label for="inputPassword">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="password" id="inputPassword" placeholder="Password" name="password" required>
        <br>
        <br>
        <button  class="btn btn-success" type="submit">Sign in</button>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <a href="/auth/register" class="btn btn-warning" >Don't have an account</a>
        
        <br>
    </p>
        <br>
 
     
        <br>
        <h4 style="text-align: center;">OR</h4>
        <br>


        <p style="text-align: center;">
            <a href="/auth/google" class="btn btn-primary">Login with Google</a>
        </p>

    </form>


</div>


<%- include('../partial/footer') %>