body {
  background-color: #f8f8fa;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232f3542' fill-opacity='0.18' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  
}

a {
  color: green;
}

#pass-card{
	margin: 25% auto;
	border: 1px solid slateblue;
	
}

#pass-card .card-body{
	font-family: 'Concert One', cursive;
	text-align: center;
	justify-content: center;
}

#pass-card .card-title{
font-weight: 500;	
}

#pass-card .form-group{
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}
